{% extends "base.html" %}

{% block content %}
<div class="container">

<h2 class="mb-4">Dashboard</h2>

<!-- SUMMARY CARDS -->
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card p-3 shadow-sm">
            <h5>Total Income</h5>
            <h3 class="text-success">KES {{ total_income }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow-sm">
            <h5>Total Expenses</h5>
            <h3 class="text-danger">KES {{ total_expense }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow-sm">
            <h5>Balance</h5>
            <h3>KES {{ balance }}</h3>
        </div>
    </div>
</div>

<h2 class="mb-4">Financial Overview</h2>

<!-- SMART ANALYSIS -->
<div class="alert alert-info">
    Hi {{user.username}}, {{ analysis }}
</div>

{% if top_category %}
<div class="alert alert-warning mt-3">
    🧠 You spend most on <strong>{{ top_category }}</strong>
    ({{ category_percent }}% of total expenses).
</div>
{% endif %}

<!-- GRAPHS -->
<div class="row">
    <div class="col-md-6">
        <canvas id="incomeExpenseChart"></canvas>
    </div>

    <div class="col-md-6">
        <canvas id="categoryChart"></canvas>
    </div>
</div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const categories = {{ categories_json|safe }};
const totals = {{ category_totals_json|safe }};
const totalIncome = {{ total_income }};
const totalExpense = {{ total_expense }};
const categoryPercent = {{ category_percent }};

new Chart(document.getElementById('incomeExpenseChart'), {
    type: 'bar',
    data: {
        labels: ['Income', 'Expenses'],
        datasets: [{
            label: 'KES',
            data: [totalIncome, totalExpense],
            backgroundColor: ['#28a745', '#dc3545']
        }]
    },
    options: {
        responsive: true,
        plugins: { legend: { display: false } }
    }
});

new Chart(document.getElementById('categoryChart'), {
    type: 'pie',
    data: {
        labels: categories,
        datasets: [{
            data: categoryPercent ? totals : [1],  
            backgroundColor: [
                '#007bff','#00ddff','#ffc107','#dc3545','#6c757d','#00ddff','#fd7e14'
            ]
        }]
    },
    options: { responsive: true }
});
</script>

{% endblock %}